[submodule "fall-2022/MUSI-8803/humdrum-tools"]
	path = fall-2022/MUSI-8803/humdrum-tools
	url = https://github.com/humdrum-tools/humdrum-tools
	ignore = untracked
[submodule "spring-2023/CSE-6220/notebooks"]
	path = spring-2023/CSE-6730/notebooks
	url = git@github.com:modsim-s23/demos.git
[submodule "spring-2023/CSE-6220/HW1_code"]
	path = spring-2023/CSE-6220/HW1_code
	url = git@github.com:GATech-CSE-6220-Spring-2023-Group/HW1.git
[submodule "spring-2023/CSE-6730/mesh2audio"]
	path = spring-2023/CSE-6730/mesh2audio
	url = git@github.com:GATech-CSE-6730-Spring-2023-Project/mesh2audio.git
[submodule "spring-2023/CSE-6220/PA2"]
	path = spring-2023/CSE-6220/PA2
	url = git@github.com:GATech-CSE-6220-Spring-2023-Group/PA2.git
[submodule "spring-2023/CSE-6220/PA3"]
	path = spring-2023/CSE-6220/PA3
	url = git@github.com:GATech-CSE-6220-Spring-2023-Group/PA3.git
[submodule "fall-2023/CSE-8803/GeoLDM/GeoLDM"]
	path = fall-2023/CSE-8803/GeoLDM/GeoLDM
	url = https://github.com/MinkaiXu/GeoLDMadd
[submodule "fall-2023/CSE-8803/egnn-pytorch"]
	path = fall-2023/CSE-8803/egnn-pytorch
	url = git@github.com:lucidrains/egnn-pytorch.git
[submodule "fall-2023/CSE-8803/FinalProject/Paragraph"]
	path = fall-2023/CSE-8803/FinalProject/Paragraph
	url = https://github.com/oxpig/Paragraph.git
[submodule "spring-2024/phys-6260/homework-1-khiner"]
	path = spring-2024/phys-6260/homework-1-khiner
	url = git@github.com:gt-phys6260-sp22/homework-1-khiner.git
